@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #24292f;

  --highlight-1: #0969da;
  --highlight-2: #cf222e;
  --highlight-3: #0550ae;
  --highlight-4: #d15704;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282a36;
    --foreground: #f8f8f2;

    --highlight-1: #8be9fd;
    --highlight-2: #50fa7b;
    --highlight-3: #bd93f9;
    --highlight-4: #ffb86c;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-highlight-1: var(--highlight-1);
  --color-highlight-2: var(--highlight-2);
  --color-highlight-3: var(--highlight-3);
  --color-highlight-4: var(--highlight-4);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
